.developer {
  padding: 15px;
  width: 300px;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 5px;
  float: left;
}
  .developer h2 {
    margin-top: 0;
  }
  .developer .facets {
    float: right;
    width: 50px;
  }
    .developer .facets a {
      margin-bottom: 2px;
    }
  .developer .keys {
    margin: 2px 0;
  }
.btcdonate-bubble {
  z-index: 99999;
}
.label {
  display: inline-block;
}
.responsibilities .label {
  cursor: pointer;
}

#permalink a {
  color: #ffffff;
  font-size: smaller
}
