<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Gentoo Thanks</title>
    <link href="static/contrib/tyrian/bootstrap.min.css" media="all" rel="stylesheet" />
    <link href="static/contrib/tyrian/tyrian.min.css" media="all" rel="stylesheet" />
    <link href="static/contrib/fontawesome/css/font-awesome.min.css" media="all" rel="stylesheet" />
    <link href="static/contrib/bitcoin-donate/btcdonate.css" media="all" rel="stylesheet" />
    <link href="static/css/styles.css" media="all" rel="stylesheet" />
    <script>
      var Gentoo = {
        responsibilities: {{ responsibilities }},
        developers: {{ developers }}
      }
    </script>
  </head>

  <body>

    <header>
      <div class="site-title">
        <div class="container">
          <div class="row">
            <div class="site-title-buttons">
              <div class="btn-group btn-group-sm">
                <a href="http://get.gentoo.org/" role="button" class="btn get-gentoo"><span class="fa fa-download"></span> <strong>Get Gentoo!</strong></a>
                <div class="btn-group btn-group-sm">
                  <button type="button" class="btn gentoo-org-sites dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-globe"></span> Gentoo.org sites <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="http://www.gentoo.org/" title="Main Gentoo website"><span class="fa fa-home fa-fw"></span> gentoo.org</a></li>
                    <li><a href="http://wiki.gentoo.org/" title="Find and contribute documentation"><span class="fa fa-file-text fa-fw"></span> Wiki</a></li>
                    <li><a href="https://bugs.gentoo.org/" title="Report issues and find common issues"><span class="fa fa-bug fa-fw"></span> Bugs</a></li>
                    <li><a href="http://forums.gentoo.org/" title="Discuss with the community"><span class="fa fa-comments-o fa-fw"></span> Forums</a></li>
                    <li><a href="http://packages.gentoo.org/" title="Find software for your Gentoo"><span class="fa fa-hdd-o fa-fw"></span> Packages</a></li>
                    <li class="divider"></li>
                    <li><a href="http://overlays.gentoo.org/" title="Collaborate on maintaining packages"><span class="fa fa-code-fork fa-fw"></span> Overlays</a></li>
                    <li><a href="http://planet.gentoo.org/" title="Find out what's going on in the developer community"><span class="fa fa-rss fa-fw"></span> Planet</a></li>
                    <li><a href="http://archives.gentoo.org/" title="Read up on past discussions"><span class="fa fa-archive fa-fw"></span> Archives</a></li>
                    <li><a href="http://sources.gentoo.org/" title="Browse our source code"><span class="fa fa-code fa-fw"></span> Sources</a></li>
                    <li class="divider"></li>
                    <li><a href="http://infra-status.gentoo.org/" title="Get updates on the services provided by Gentoo"><span class="fa fa-tasks fa-fw"></span> Infra Status</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="logo">
              <img src="static/contrib/tyrian/site-logo.png" alt="Gentoo Linux Logo"/>
              <span class="site-label">The People Behind Gentoo</span>
            </div>
          </div>
        </div>
      </div>
      <nav class="tyrian-navbar" role="navigation">
        <div class="container">
          <div class="row">
            <div class="navbar-header navbar-right">
              <p class="navbar-text" id="permalink"></p>
              <form class="navbar-form navbar-right" role="search" method="get">
                <div class="input-group">
                  <label for="searchInput" class="sr-only">Filter</label>
                  <input type="search" name="f" placeholder="Filter" accesskey="f" id="searchInput" class="form-control" />
                  <div class="input-group-btn">
                    <button type="submit" class="searchButton btn btn-default">
                      <i class="fa fa-filter"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="col-sm-12">

      <h1>The People Behind Gentoo</h1>

      <div class="col-sm-8">
        <p class="lead">
          Find the people making Gentoo awesome and show them some love.
        </p>
      </div>
      <div class="hidden-xs text-center col-sm-4">
        <a href="https://github.com/danielquinn/gentoo-thanks/" class="btn btn-primary"><i class="fa fa-github"></i> Fork me on GitHub</a>
      </div>

      <div class="col-sm-12 col-md-6">
        <p>
          <strong>NOTE THAT THIS IS NOT A REAL DONATION PAGE.  ALL OF THIS DATA
          IS MOCKED</strong>
        </p>
        <p>
          Gentoo is the result of a small but dedicated community of contributors
          helping to build the best Linux distribution for people with a penchant
          for specificity and compile times.  The people who help build Gentoo
          work hard, and if you've ever found yourself wanting to say thank you,
          but not sure who to thank, or how to thank them, this page is for you.
        </p>
      </div>

      <div class="clearfix"></div>

      <div class="developers" id="developers">
        {{ collection }}
      </div>

    </div>

    <script src="static/contrib/jquery.min.js"></script>
    <script src="static/contrib/jquery.qrcode.min.js"></script>
    <script src="static/contrib/tyrian/bootstrap.min.js"></script>
    <script src="static/contrib/bitcoin-donate/btcdonate.js"></script>
    <script src="static/contrib/isotope.pkgd.min.js"></script>
    <script src="static/js/general.js"></script>

  </body>
</html>
